certifi==2018.11.29
chardet==3.0.4
Click==7.0
cryptg
aiohttp
hachoir
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
requests==2.21.0
six==1.12.0
urllib3==1.24.2
Werkzeug==0.14.1
bs4
schedule
git+https://github.com/Nenirey/Telethon@master#telethon
simplebot
apscheduler
mock
lottie
pillow
cairosvg
