certifi
chardet
Click
cryptg
aiohttp
hachoir
idna
itsdangerous
Jinja2
requests
six
urllib3
git+https://github.com/Nenirey/Telethon@master#telethon
git+https://github.com/Nenirey/simplebot@master#simplebot
mock
git+https://gitlab.com/mattbas/python-lottie@master#lottie
pillow
cairosvg
