certifi
chardet
urllib3
Click
cryptg
aiohttp
hachoir
idna
itsdangerous
Jinja2
requests
telethon
#git+https://github.com/LonamiWebs/Telethon@v1.25#telethon
#git+https://github.com/simplebot-org/simplebot@master#simplebot
simplebot
mock
psutil
#git+https://gitlab.com/mattbas/python-lottie@master#lottie
lottie
pillow
cairosvg
markdown
